.Welcome_header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome_header__title {
  margin-bottom: 20px;
  font-size: 25px;
}
.welcome_header__text {
  width: 60%;
  opacity: 80%;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0;
  font-size: 18px;
  margin-bottom: 25px;
}

/* not은 이것을 제외한 나머지에 적용하고 싶어요 라는 말이라서 
      #login-form input에도 똑같이 쓰면 중복적용됩니다.
      not쪽에만 써야한다. (cascading원칙에 유의) */
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
  /* rgba의 네번째는 opacity 즉, 투명도를 의미한다. */
  color: rgba(0, 0, 0, 0.4);
}
#login-form input:focus {
  border-color: var(--yellow);
}
#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}
/* inherit:상속, 아버지login-form에게 색상'검정'을 물려받는다는 뜻 */
#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
