.status-bar {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  display: flex;
  padding: 90px 20px 45px 20px;
  justify-content: center;
  background-color: #ffce33;
  height: 100px;
  flex-direction: column;
}
#status,
#header {
  display: flex;
  justify-content: center;
  overflow: visible;
  margin-top: 30px;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
  font-size: 25px;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
}
